@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
.container {
  max-width: 1240px;
  width: 100%;
  padding-inline: 20px;
  margin: 0 auto;
}


a {
  text-decoration: none;
}